:root {
  --color-1: #d25a5a;
  --color-2: #4999cb;
  --color-3: #69bf9e;
  --color-4: #aa5bbd;
  --color-5: #bfa756;
  --color-6: #5d6ca2;
  --color-7: #61a530;
  --color-8: #e87b06;
  --color-9: #cd377d;
  --color-10: #5659bf;
}